/*
 * Author:  Fedor Nikonov (fritylo)
 * Date:    2023-01-09, 8:26:27 PM
 * Company: frity.org
 */

@import '/styles/bundle.scss';

.link {
	text-decoration: none;
	color: $-c6;
	white-space: pre-wrap;
}
