/*
 * Author:  Fedor Nikonov (fritylo)
 * Date:    2023-02-02, 11:23:36 PM
 * Company: frity.org
 */

@import '/styles/bundle.scss';

.product {
	&__image {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&__image-wrapper {
		border-radius: px_to_em(5);
		overflow: hidden;
	}

	&__title {
		padding: 0 0.5em;
	}

	&__description {
		font-size: px_to_em(13);

		p {
			margin: 0;
			text-align: justify;
		}
	}

	&__footer {
		margin-top: auto;

		a {
			width: calc(50% - 0.5em);

			&:nth-child(2) .button {
				background: $-c3;
			}
		}

		.button {
			width: 100%;
		}
	}

	&__price {
		bottom: -1.25em;
		white-space: pre-wrap;
	}

	&_small {
		$size: px_to_em(150);
		width: $size;

		.product {
			&__title {
				font-size: 1.1em;
			}

			&__image-wrapper {
				width: $size;
				height: $size;
			}

			&__footer {
				flex-direction: column;

				a {
					width: 100%;

					&:first-child {
						margin-bottom: 0.25em;
					}
				}
			}
		}
	}

	&_normal {
		$size: px_to_em(232);
		width: $size;

		.product {
			&__image-wrapper {
				width: $size;
				height: $size;
			}
		}
	}
}
