/*
 * Author:  Fedor Nikonov (fritylo)
 * Date:    2023-01-09, 11:20:39 PM
 * Company: frity.org
 */

@import '/styles/bundle.scss';

.select__option {
	display: block;
	text-decoration: none;
	color: $-c6;
	font-size: px_to_em(13);
	height: $select-row-size;
	padding: px_to_em(8);
	border-bottom: 1px solid $-c2;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	line-height: calc($select-row-size / 2);
	position: relative;
	background: $-c1;
	cursor: pointer;

	&:first-child {
		border-radius: 5px 5px 0 0;
	}

	&:last-child {
		border-bottom: none;
		border-radius: 0 0 5px 5px;
	}

	&:hover {
		overflow: visible;
		z-index: 3;
		$border: 1px solid $-c2;
		border-right: $border;
		border-top: $border;
		height: calc(#{$select-row-size} + 1px);
		margin-top: -1px;
		width: fit-content;
		min-width: calc(100% + 1px);
	}

	&_selected {
		background: $-c2;
	}
}
