/*
 * Author:  Fedor Nikonov (fritylo)
 * Date:    2023-01-10, 9:33:02 PM
 * Company: frity.org
 */

@import '/styles/bundle.scss';

.contacts {
	$contactsCardSize: px_to_em(48);
	$animationFlyAwayStartOpacity: 0.5;

	margin-bottom: px_to_em(88);

	&__card {
		width: $contactsCardSize;
		color: $-c6;
		text-decoration: none;

		@media screen and (max-width: $-stop-phone-max ) {
			font-size: 0.8em;
		}

		img {
			width: $contactsCardSize;
			height: $contactsCardSize;
		}

		> span {
			white-space: pre;

			@media screen and (max-width: $-stop-phone-max ) {
				font-size: 1.25em;

				>span {
					display: block;
				}
			}
		}

		&-extra-imgs {
			width: $contactsCardSize;
			height: $contactsCardSize;
		}

		&-img-copy {
			@for $i from 1 through 4 {
				&[data-i="#{$i}"] {
					animation-delay: $i * 0.75s;
					z-index: #{15 - $i};
				}
			}
		}

		&.aife {
			img {
				width: px_to_em(43);
				height: auto;
			}

			.contacts__card-img-copy {
				animation-name: fly-away-left;
				animation-duration: 3s;
				animation-iteration-count: infinite;
			}
		}

		&.aifs {
			img {
				width: px_to_em(50);
				height: auto;
			}

			.contacts__card-img-copy {
				animation-name: fly-away-right;
				animation-duration: 3s;
				animation-iteration-count: infinite;
			}
		}

		@keyframes fly-away-right {
			0% {
				transform: translate(0, 0);
				opacity: $animationFlyAwayStartOpacity;
			}

			100% {
				transform: translate(20px, 10px);
				opacity: 0;
			}
		}
		@keyframes fly-away-left {
			0% {
				transform: translate(0, 0);
				opacity: $animationFlyAwayStartOpacity;
			}

			100% {
				transform: translate(-20px, 10px);
				opacity: 0;
			}
		}
	}
}

$contactsGutter: px_to_em(70);

#contact_instagram {
	margin: 0 $contactsGutter;
}
#contact_phone {
	margin-right: calc($contactsGutter * 2 / 3);

	> span > span {
		text-align: right;
	}
}
