/*
 * Author:  Fedor Nikonov (fritylo)
 * Date:    2023-02-06, 8:33:06 PM
 * Company: frity.org
 */

@use 'sass:color';

@import '/styles/bundle.scss';

.event-block {
	$-stop-mobile: 700px;

	@media screen and (max-width: $-stop-mobile ) {
		flex-direction: column;
	}

	&__background {
		background: center/cover no-repeat;
		opacity: 0.75;
		z-index: -1;
		border-radius: px_to_em(5);
	}

	&__gradient {
		background: center/cover no-repeat;
		z-index: -1;
		border-radius: px_to_em(5);
		background-image: linear-gradient(to right, rgba(252, 242, 241, 0.9), rgba(246, 211, 206, 0.4));

		@media screen and (max-width: $-stop-mobile ) {
			background-image: linear-gradient(to bottom, rgba(252, 242, 241, 0.9), rgba(246, 211, 206, 0.7));
		}
	}

	&__titles {
		margin-left: px_to_em(55);
		text-decoration: none;
		color: $-c6;

		@media screen and (max-width: $-stop-mobile ) {
			align-items: center;
			margin-left: 0;
			margin-top: px_to_em(25);
			margin-bottom: px_to_em(25);
		}
	}

	&__datetime {
		font-size: px_to_em(16);
		color: #9c9c9c;
		margin-bottom: 0.25rem;

		@media screen and (max-width: $-stop-mobile ) {
			font-size: px_to_em(14);
		}
	}

	&__title {
		font-size: px_to_em(20);
		font-family: var(--f-ars-b);
		letter-spacing: 0.1em;

		@media screen and (max-width: $-stop-mobile ) {
			margin: 0 2em;
			text-align: center;
		}
	}

	&__buttons {
		padding: px_to_em(12);

		@media screen and (max-width: $-stop-mobile ) {
			flex-direction: row;
			padding: px_to_em(6);
			padding-top: 0;
			width: 100%;
			justify-content: center;
		}

		>a {
			@media screen and (max-width: $-stop-mobile ) {
				width: calc(50% - 1px);
			}
		}

		.button {
			width: px_to_em(179);
			background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.28));
			backdrop-filter: blur(10px);
			font-family: var(--f-rlw-r);
			letter-spacing: 0.1em;
			padding: px_to_em(10) 0;

			@media screen and (max-width: $-stop-mobile ) {
				width: 100%;
			}
		}

		a:first-child {
			@media screen and (max-width: $-stop-mobile ) {
				margin-right: 1px;
			}

			.button {
				border-radius: 5px 5px 0 0;
				color: color.scale($-c3, $lightness: -20%);

				@media screen and (max-width: $-stop-mobile ) {
					border-radius: 5px 0 0 5px;
				}
			}
		}

		a:last-child .button {
			border-radius: 0 0 5px 5px;

			@media screen and (max-width: $-stop-mobile ) {
				border-radius: 0 5px 5px 0;
			}
		}
	}
}
