@import './bundle.scss';
@import './fonts.scss';

@import './styles-lib.scss';

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	color: $-c6;
	font-size: 14px;
	line-height: 16px;
	font-family: var(--f-rlw);
	background-color: $-c1;
}

::selection {
	background: $-c2;
}

// Text editor . scss
[data-json] {
	a:link,
	a {
		text-decoration: underline;
		text-decoration-color: $-c3;
		display: inline-block;
		transition: 0.2s ease;
		will-change: transform, text-shadow, text-decoration;

		&:hover {
			transform: translateY(-3px);
			text-decoration-color: transparent;
			text-shadow: 0 4px $-c3;
		}
	}

	mark {
		background-color: $-c2;
	}
}
