@import '/styles/bundle.scss';

.page-index {

}

$headerHeight: calc(123 / 16 * 1rem);
$sectionMainMT: calc(47 / 16 * 1rem);
$sectionMainHeight: calc(100vh - #{$headerHeight} - #{$sectionMainMT} - 2px);

body {
	padding-top: $headerHeight;
}

.section {
	$marginSize: calc((100vh - #{px_to_em(339)}) / 2.5);
	margin-top: $marginSize;

	&_main {
		margin-top: $sectionMainMT;
	}

	@media screen and (min-width: $-stop-tablet-min ) {
		&:last-of-type {
			margin-bottom: $marginSize;
		}
	}

	@media screen and (max-width: $-stop-phone-max ) {
		margin-top: 1em;
		margin-bottom: 4em;
	}
}

.contacts {
	margin-top: px_to_em(68);
}
