/*
 * Author:  Fedor Nikonov (fritylo)
 * Date:    2023-02-07, 12:12:24 AM
 * Company: frity.org
 */

@import '/styles/bundle.scss';

.numero-section {
	&__action {

		a:link,
		a {
			white-space: inherit;
		}
	}

	p {
		margin-top: 0;
		margin-bottom: 1em;
	}

	figure+p {
		margin-top: 1em;
	}

	&__img {
		position: relative;
		width: 100%;
		height: 68px;

		background: center/cover no-repeat;
		border-radius: 5px;

		margin-top: 2em;
		margin-bottom: 2em;

		&::after {
			content: '';

			position: absolute;

			top: 0;
			bottom: 0;
			left: 0;
			right: 0;

			background: rgba(246, 211, 206, 0.5);
			z-index: 3;
		}
	}
}
